body,html{
    padding: 0;
    margin: 0;
    background-color: #000507;
}

.clock{
    width: 400px;
    height: 400px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 50%;
    border: 20px solid rgb(97, 166, 255);
    box-shadow: inset 0px 0px 2px 1px #0000001f,0px 0px 2px 1px #00000026;
    background-image: url('clock.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.clock::after{
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background: black;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    border: 2px solid white;
    z-index: 4;
}

#second,#minute,#hour{
    position: absolute;
    width: 100%;
    height: 100%;
}

#second{
    z-index: 3;
}

#minute{
    z-index: 2;
}

#hour {
    z-index: 1;
}

#second::before,#minute::before,#hour::before,#second::after{
    content: "";
    display: block;
    left: 50%;
    top:50%;
    position: absolute;
    transform: translate(-50%,-100%);
    border-radius: 10px;
}

#second::before{
    width: 1px;
    height: 120px;
    background: rgb(212, 0, 255);
}

#second::after{
    width: 1px;
    height: 30px;
    background: rgb(12, 0, 187);
    transform: translate(-50%,0);
}

#minute::before{
    width: 2px;
    height: 115px;
    background:  #0bff55;
}

#hour::before{
    width: 6px;
    height: 95px;
    background: #0bff55;
}

