.wrap{position:relative;width:640px;height:450px;margin:0 auto;background: linear-gradient(45deg, #3023AE 0%, #4CAF50 100%);animation: bgChange 3s linear 1s infinite alternate;overflow:hidden}
.wrap div{position:absolute;}
.bg{width: 80%;height: 80%;top: 25%;left: 25%;background: rgba(255,255,255,.2);transform: rotate(20deg);animation: rt 1s linear 1s infinite alternate;}
.bg:before {content: "";position: absolute;width: 80%;height: 80%;top: 35%;left:35%;background: rgba(255,255,255,.3); transform: rotate(135deg);animation: rt 2s linear 0.5s infinite alternate;}
.panda{width:45%;height:100%;bottom:0;left:50%;margin-left:-22.5%;}
    .body{width:70%;height:60%;bottom:5%;right:5%;border-radius:54% 46% 22% 78% / 80% 49% 51% 20% ;background: linear-gradient(135deg, #efefef 0%, #c2c2c2 39%, #efefef 100%);animation: bodymov .6s linear .3s infinite alternate;}
.arms{top:50%;margin-top:-25%;width:100%;height:100%;}
.arm{width:20%;height:50%;background:#111;border-radius:40% 40%;}
    .arm_lt{left:-5%;top:0;transform:rotate(30deg);z-index:1;animation: updown .3s linear .3s infinite alternate;}
    .arm_rt:nth-child(2){height:28%;right:0;transform: rotate(40deg); top: -5%;}
    .arm_rt:nth-child(3){height:40%;top:-14%;right:21%;transform:rotate(120deg);z-index:2;animation: rythm3 .3s linear .3s infinite alternate;}
.legs{bottom:0;width:100%;height:100%;}
.leg{width:25%;height:40%;background:#111;border-radius:40%;margin-left:-20%;transform:rotate(90deg);bottom:0;}
.leg_rt{margin-left:58%;margin-bottom:-15%}
.head{width:48%;top:50%;left:50%;margin-top:-25%;margin-left:-20%;background: linear-gradient(135deg, #efefef 0%, #d2d2d2 49%, #efefef 100%);height:35%;border-radius:36% 64% 49% 51% / 54% 38% 62% 46% ;z-index:1;animation: rythm .3s linear .3s infinite alternate; }
.face{width:70%;height:100%;top:0;left:0;transform:rotate(10deg);}
.ear{width:25%;height:25%;top:0;left:-15%;margin-top:20%;background:#000;border-radius:100%}
.ear:nth-child(2){width:28%;height:25%;left:initial;right:5%;margin-top:19%;}
.eye{width:25%;height:20%;top:50%;left:10%;;margin-top:10%;background:#000;border-radius:59% 41% 53% 47% }
.eye_lt{width:30%;height:23%;left:initial;right:8%;margin-top:5%;border-radius:24% 76% 44% 56% / 31% 59% 41% 69%;transform:rotate(-15deg) }
.nose{width:45%;height:30%;bottom:0;left:30%;background:#efefef;border-radius:41% 59% 64% 36% / 59% 41% 59% 41% ;transform:rotate(-20deg);z-index:1;}
.nose:after{content:"";display:block;position:absolute;width: 0;height: 0;border-style: solid;border-width: 8px 10px 0 10px;border-color: #000 transparent transparent transparent;left:10%;top:65%;left: 50%; margin-left: -35%;border-radius:5px}
.headset{ width: 45%; height: 23%; margin-top: 50%; border-top: 12px solid #000;border-radius: 100%;border-left: transparent; border-right: transparent; border-bottom: transparent; transform: rotate(-5deg);margin-left: 26%;z-index:1;animation: rythm2 .3s linear .3s infinite alternate;}
.headset:after{content:"";position:absolute;display:block;width:150%;height:190%;left:-50%;border-radius:100%;border:10px solid #111;border-left:transparent;border-top:transparent;border-bottom:transparent;}
.turntable{width:35%;height:25%;bottom:10px;left:50%;margin-left:-20%; transform-style: preserve-3d; perspective: 200px;}
.tb_legs{width:100%;height:100%;}
.tb_leg{width:5%;height:55%;left:5%;bottom:0;background:#222}
.tb_leg.tb_lrt{right:5%;left:initial;}
.top{width: 100%;height: 49%;top: 0%;margin-top: 5%;background: #666;transform: rotateX(-123deg);}
.turntable:after{content:"";position:absolute;display:block;width:100%;left:50%;margin-left:-50%;height:20px;background:#222;top:40%}
.lp{width:50%;height:50%;background:#000;border-radius:100%;transform:rotateX(60deg);left:15%;top:5%;animation: rythm4 .3s linear .3s infinite alternate;}
.lp:after{content:"";display:block;background:#fff;border-radius:100%;width:30%;height:30%;left:50%;top:50%;position:absolute;margin-left:-15%;margin-top:-15%;}
.setting_btns{width: 25%;height: 37%;background: #000; top: 13%; left: 69%;transform: rotateX(60deg);
        border: 2px solid #777;}
.btn{width: 4%; height: 86%;border-radius: 5px;background: #666; top: 14%;left: 50%;}
.btn:nth-child(2){margin-left: -20%;}
.btn:nth-child(3){margin-left: 10%;}
.btn:before{content: "";display: block;position: absolute;width: 132%;height: 22%;background: #949494;top: 50%;left: 50%;}
.btn:nth-child(2):before{margin-top:25%}
.btn:nth-child(3):before{margin-top:-15%}
@keyframes updown {
        from {margin-top: -5%;margin-left: -1%;}
        to {margin:0}
}
@keyframes rythm{
    from{margin-top: -22%;margin-left: -20%}
    to{margin-top: -25%;margin-left: -20%;}
}
@keyframes rythm2{
    from{margin-top: 50%;margin-left: 26%}
    to{margin-top: 50%;margin-left: 25.5%;}
}
@keyframes rythm3{
    from{transform: rotate(-30deg);}
    to{transform: rotate(-40deg);}
}
@keyframes rythm4{
    from{top:4%}
    to{top:5%}
}
@keyframes bodymov{
    from{border-radius:54% 46% 22% 78% / 80% 49% 51% 20%}
    to{border-radius:54% 46% 31% 69% / 80% 42% 58% 20% }
}
@keyframes bgChange{
    0%{background: linear-gradient(45deg, #dacb9e 30%, #8eaf4c 100%)}
    50%{background: linear-gradient(45deg, #3023AE 0%, #4CAF50 100%)}
    100%{background: linear-gradient(45deg, #bb406a 30%, #66a6b9 100%)}
}
@keyframes rt{
    from{transform: rotate(0deg) scale(1);opacity:1}
    to{transform: rotate(360deg) scale(2);opacity:0.3}
}